/*____________________________________TABLE____________________________________*/
.records-table{
    text-align: center;
    width: 100%; 
    margin-top: 100px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #fff;
}
.records-table td , .records-table th{
    padding: 15px 30px;
}
.records-table i{
    margin: 0px 10px;
}
/*____________________________________TABLE ROUNDING____________________________________*/
table.rounded-corners {
    border-radius: 10px;
   
    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
   }
   
   /* Apply a border to the right of all but the last column */
   table.rounded-corners th:not(:last-child),
   table.rounded-corners td:not(:last-child) {
    border-right: var(--border);
   }
   
   /* Apply a border to the bottom of all but the last row */
   table.rounded-corners>thead>tr:not(:last-child)>th,
   table.rounded-corners>thead>tr:not(:last-child)>td,
   table.rounded-corners>tbody>tr:not(:last-child)>th,
   table.rounded-corners>tbody>tr:not(:last-child)>td,
   table.rounded-corners>tfoot>tr:not(:last-child)>th,
   table.rounded-corners>tfoot>tr:not(:last-child)>td,
   table.rounded-corners>tr:not(:last-child)>td,
   table.rounded-corners>tr:not(:last-child)>th,
   table.rounded-corners>thead:not(:last-child),
   table.rounded-corners>tbody:not(:last-child),
   table.rounded-corners>tfoot:not(:last-child) {
    border-bottom: var(--border);
   }
